<div class="row">
    <div class="col-md-12 jumbotron">
        <div class="text-center title">
            <i class="fa fa-save fa-8x"></i>
            <h3>Saved Articles</h3>
        </div>
    </div>
    <div class="col-md-12">
        {{#if article}}
        {{#each article}}
        <div class="panel-saved panel-default mt-5">
            <div class="panel-heading">
                <h4>{{this.title}}</h4>
            </div>
            <div class="panel-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank" class="article-link">{{this.link}}</a>
                <div class="d-flex justify-content-between align-items-center mt-5">
                    <button type="submit" id="btn-delete" class="btn-save mt-3" data-id={{this._id}}>
                        Delete
                    </button>
                    <i class="fa fa-comment fa-2x" title="Add comment" data-toggle="collapse"
                        data-target="#collapse-{{this._id}}" aria-expanded="false"
                        aria-controls="collapse-{{this._id}}"></i>
                </div>

                <div class="collapse" id="collapse-{{this._id}}">
                    {{> comment }}
                </div>

            </div>

        </div>
        {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>You have no saved articles.</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>
</div>